<h1>Homepage</h1>
<%= link_to "Create New", new_my_portfolio_path %>
<% @my_portfolios.each do |item|%>
    <h4><%= link_to item.title, my_portfolio_show_path(item.id) %></h4>
    <h6><%= item.subtitle %></h6>
    <p><%= item.body %></p>
     <%= image_tag item.thumb_image unless item.thumb_image.nil? %>
     <%= link_to "Edit", my_portfolio_edit_path(item.id) %>
     <%= link_to 'Delete',my_portfolio_delete_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
<% end %>


