<h1>Create new Portfolio Item</h1>

<%= form_for(@my_portfolio) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
<ul>
<%= form.fields_for :technologies do |tech_form| %>
<li>
<%= tech_form.label :name %>
<%= tech_form.text_field :name %>
</li>
<% end %>
</ul>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
