<%= image_tag @my_portfolio.main_image %>

<h1><%= @my_portfolio.title %></h1>

<em><%= @my_portfolio.subtitle %></em>

<p><%= @my_portfolio.body %></p>

<h2>Technologies used:</h2>
<% @my_portfolio.technologies.each do |item|%>

<p><%= item.name %></p>
<% end %>

