<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application',  'data-turbolinks-track': 'reload' %>
  </head>
      
  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  <% if current_user %>
       <%= link_to "logout", destroy_user_session_path, method: :delete %>
       <% else %>
       <%= link_to "login", new_user_session_path %>
       <%= link_to "register", new_user_registration_path %>
       <% end %>
       
    <%= yield %>
  </body>
</html>
